BasedOnStyle: Mozilla
BinPackParameters: false
Cpp11BracedListStyle: true
IncludeCategories:
  - Regex: '^("|<)catch\.hpp'
    Priority: 0
  - Regex: '^(<[a-z0-9_]*>)'
    Priority: 1
  - Regex: '^<.*'
    Priority: 2
  - Regex: '.*'
    Priority: 3
IndentCaseLabels: false
# Not specified here but important Naming Conventions ((!) means divergence from Mozilla):
#
# - Classes, functions and methods use CamelCase (as AsThis);
# - Attributes use CamelCase preceded with "m" (as mMyVar);
# - (!) Private methods use CamelCase preceded with "m" (as mMyVar);
# - Attributes are always private;
# - Function and method arguments use CamelCase preceded with "a" (as aMyVar);
# - Global vars use CamelCase preceded with "g" (as gMyVar);
# - Global vars should be avoided;
# - Static attributes use CamelCase preceded with "s" (as sMyVar);
# - (!) Static private methods use CamelCase preceded with "s" (as sMyVar);
# - (!) Constants and enum member must be ALL_CAPS.
#
# File names that contains a main class must be named after that class, using the exact same CamelCase.
# Other files should start with lower case. Anything else is valid.
# Unit test should be named after the tested class, with a "Test" suffix
